
.sharing-bck {
  width: 100vw;
  height: 100vh;  
  position: absolute;
  background-image: url('http://edelman-zippykid.netdna-ssl.com/assets/uploads/2013/08/Locations.png');
  opacity: 0.8;
}

.sharing-form {
  background-color: #FFF;
  position: relative;
  width: 400px;
  height: 200px;
  margin: auto;
  top: 200px;
  border: 2px solid #009999;
  border-radius: 2px;

}

.title-share {
  font-size: 16px;
  text-align: center;
  color: #009999;
  margin: 10px 0;
}

select#user_user_id {
  width: 200px;
  margin: 15px 100px;
}

.button-share {
  margin: 10px 120px;
}