
<div class="row add-modal-header">
  
  <div class="col col-xs-10">
    <h4 class="color">Add a new place</h4> 
  </div>

  <div class="col col-xs-2">
    <button type="button" class="btn btn-warning cancel-button" data-dismiss="modal">Cancel</button>
  </div>

</div>
<hr>   

<div class="col col-xs-12">
  <%= render 'form' %>
</div>

