<div class="col col-xs-1 col-xs-offset-11 text-right">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>  
</div>
<div class="col col-xs-12">
  <h4 class="color">Add a new place</h4> 
  <hr>   
</div>

<div class="col col-xs-12">
  <%= render 'form' %>
</div>

