

<div class="row show-modal-header">
  
  <div class="col col-xs-8">
    <h4 class="color">Showing</h4> 
  </div>

  <div class="col col-xs-4">
    <button type="button" class="btn btn-warning cancel-button" data-dismiss="modal">Cancel</button>
  </div>

</div>
<hr>   

<div class="col col-xs-12">

  <div class="container-fluid ">
    <div class="row">
      <div class="col col-xs-12">
        Hello
      </div>

      <div class="col col-xs-12">
        Bye
      </div>  
    </div>
  </div>

  
</div>